.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
_01_terraform/_01_s3-buckets/.terraform/providers/registry.terraform.io/hashicorp/aws/6.42.0/windows_amd64/terraform-provider-aws_v6.42.0_x5.exe
_01_terraform/_01_s3-buckets/.terraform/providers/registry.terraform.io/hashicorp/aws/6.42.0/windows_amd64/LICENSE.txt
_01_terraform/_02_terraform_main_ec2/.terraform/providers/registry.terraform.io/hashicorp/aws/6.42.0/windows_amd64/LICENSE.txt
/_01_terraform/_02_terraform_main_ec2/.terraform/providers/registry.terraform.io/hashicorp/aws/6.42.0/windows_amd64
*.pem
*.backup
*.backup
*.tfstate
*.hcl
_01_terraform/_03_eks-terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/6.42.0/windows_amd64/terraform-provider-aws_v6.42.0_x5.exe
_01_terraform/_03_eks-terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/6.42.0/windows_amd64/LICENSE.txt
_01_terraform/_03_eks-terraform/.terraform/providers/registry.terraform.io/hashicorp/tls/4.2.1/windows_amd64/LICENSE.txt
_01_terraform/_03_eks-terraform/.terraform/providers/registry.terraform.io/hashicorp/tls/4.2.1/windows_amd64/terraform-provider-tls_v4.2.1_x5.exe
_01_terraform/_02_terraform_main_ec2/.terraform/terraform.tfstate
_01_terraform/_02_terraform_main_ec2/.terraform/providers/registry.terraform.io/hashicorp/null/3.2.4/windows_amd64/terraform-provider-null_v3.2.4_x5.exe
_01_terraform/_02_terraform_main_ec2/.terraform/providers/registry.terraform.io/hashicorp/null/3.2.4/windows_amd64/LICENSE.txt
_01_terraform/_02_terraform_main_ec2/.terraform/terraform.tfstate
_01_terraform/_01_s3-buckets/terraform.tfstate.backup
_01_terraform/_01_s3-buckets/terraform.tfstate
